
<h1>{{user.firstname}} {{user.lastname}} [{{user.id}}]</h1>
<ul class="list-group">
  <li class="list-group-item"><strong>Email: </strong>{{user.email}}</li>
  <li class="list-group-item"><strong>Phone: </strong>{{user.PhoneNumber}}</li>
</ul>
<a class="btn btn-primary btn-lg" href="/">Back</a>
